Source: autotest
Section: unknown
Priority: extra
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://autotest.github.com/
#Vcs-Git: git://git.debian.org/collab-maint/autotest.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/autotest.git;a=summary

Package: autotest-server
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: autotest server
  Autotest is a framework for fully automated testing.
  It is designed primarily to test the Linux kernel, though it is useful for
  many other functions such as qualifying new hardware. 
  It's an open-source project under the GPL and is used and developed by
  a number of organizations, including Google, IBM, Red Hat, and many others.

Package: autotest-client
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: autotest client
  Autotest is a framework for fully automated testing.
  It is designed primarily to test the Linux kernel, though it is useful for
  many other functions such as qualifying new hardware. 
  It's an open-source project under the GPL and is used and developed by
  a number of organizations, including Google, IBM, Red Hat, and many others.
